<div class="cards">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/add" class="btn">Criar Cartão</a>
    </div>
    <div>
        <table>
            <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Imagem</th>
            </tr>
                {{#each returnCards}}
                    <tr>
                        <td><span class="label">{{codeCard}}</span></td>
                        <td><span class="label">{{User.name}}</span></td>
                        <td><img src="{{qrcodeCode}}" alt="image" /></td>
                        
                    </tr>

                {{/each}}
            </ul>
        </table>
    </div>
    
    {{#if emptyCards}}
        <p>Ainda não há nenhum pensamento seu, comece a criar <a href="/add">por aqui!</a></p>
    {{/if}}
</div>