<div class="card-form-container">
    <a href="/">Voltar</a>
    <h1>Criando Cartões</h1>
    <form action="/add" method="post">
        <div class="form-control">
            <label for="number">Informe a quantidade de cartões a gerar:</label>
            <input type="number" name="numberCard">
        </div>
        <input type="submit" value="Gerar Cartões">
    </form>
</div>