<div class="home-header">

    <h1 class="testeH1">Testando</h1>
{{!-- 
        <div id="bodyOk">

        <div id="celular">
            <img src="" alt="Foto de perfil">
            <h2></h2>
            <p></p>
        </div>

        <form id="formCliente">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">

            <label for="foto">Foto:</label>
            <input type="text" id="foto" name="foto">

            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade">

            <button type="submit">Atualizar</button>
        </form>

    </div>

    <script>
      const celular = document.getElementById('celular');
      const nome = document.getElementById('nome');
      const foto = document.getElementById('foto');
      const idade = document.getElementById('idade');
      const formulario = document.querySelector('form');

      formulario.addEventListener('submit', function(event) {
        event.preventDefault();

        celular.querySelector('img').src = foto.value;
        celular.querySelector('h2').textContent = nome.value;
        celular.querySelector('p').textContent = idade.value;
      });
    </script> --}}

</div>